# =============== #
# Unity generated #
# =============== #
Minigames/[Tt]emp/
Minigames/[Oo]bj/
Minigames/[Bb]uild
Minigames/Ll]ibrary/
Minigames/sysinfo.txt
Minigames/*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
Minigames/.DS_Store*
Minigames/._*
Minigames/.Spotlight-V100
Minigames/.Trashes
Minigames/Icon?
Minigames/ehthumbs.db
Minigames/[Tt]humbs.db